apiVersion: v1
kind: Service
metadata:
  name: {{ ai_engine.app_name }}
  namespace: {{ ai_engine.namespace }}
  labels:
    app.kubernetes.io/name: {{ ai_engine.app_name }}
spec:
  selector:
    app.kubernetes.io/name: {{ ai_engine.app_name }}
  ports:
    - name: metrics
      port: {{ ai_engine.port }}
      targetPort: metrics
