apiVersion: v1
kind: ConfigMap
metadata:
  name: "grafana-dashboard-{{ dashboard_id }}"
  namespace: monitoring
  labels:
    grafana_dashboard: "1"
data:
  dashboard.json: |
{{ lookup('file', role_path + '/files/dashboards/dashboard_' + (dashboard_id | string) + '.json') | indent(4, True) }}