apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: "{{ database.cluster_name }}"
  namespace: db
spec:
  instances: {{ replicas.postgres | int }}
  
  affinity:
    nodeSelector:
      workload: "db"
  tolerations:
    - operator: "Exists"

  template:
    spec:
      nodeSelector:
        workload: "db"
      tolerations:
        - operator: "Exists"

  storage:
    size: "{{ storage.postgres_size }}"
    storageClass: "{{ storage.storage_class }}"
  
  bootstrap:
    initdb:
      database: "{{ forgejo.db_name }}"
      owner: "{{ forgejo.db_user }}"
      secret:
        name: app-db-secret
  
  superuserSecret:
    name: app-db-secret
  enableSuperuserAccess: true