apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ database.cluster_name }}
  namespace: db
spec:

  instances: {{ replicas.postgres }}

  postgresql:
    parameters:
      max_wal_senders:        "10"
      wal_level:              "replica"
      wal_keep_size:          "512"
      wal_sender_timeout:     "60s"
      wal_receiver_timeout:   "60s"
      max_replication_slots:  "10"

  bootstrap:
    initdb:
      database: {{ database.app_db_name }}
      owner:    {{ database.app_db_user }}
      secret:
        name: app-db-secret

  superuserSecret:
    name: app-db-superuser-secret

  storage:
    size:         {{ database.storage_size }}
    storageClass: {{ storage.storage_class }}


  affinity:
    nodeSelector:
      workload: db
    tolerations:
      - key:      "workload"
        operator: "Equal"
        value:    "db"
        effect:   "PreferNoSchedule"

  startDelay:      120
  stopDelay:       120
  switchoverDelay: 120

  replicationSlots:
    highAvailability:
      enabled: true
    updateInterval: 30