apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: "{{ database.cluster_name }}"
  namespace: db
spec:
  instances: {{ replicas.postgres | int }}
  
  nodeSelector:
    workload: "db"
  tolerations:
    - key: "workload"
      operator: "Equal"
      value: "db"
      effect: "NoSchedule"

  template:
    metadata:
      labels:
        workload: "db"
    spec:
      nodeSelector:
        workload: "db"
      tolerations:
        - key: "workload"
          operator: "Equal"
          value: "db"
          effect: "NoSchedule"

  storage:
    size: "{{ storage.postgres_size }}"
    storageClass: "{{ storage.storage_class }}"
  
  bootstrap:
    initdb:
      database: "{{ forgejo.db_name }}"
      owner: "{{ forgejo.db_user }}"
      secret:
        name: app-db-secret
  
  superuserSecret:
    name: app-db-secret
  enableSuperuserAccess: true