---
- name: Create forgejo namespace
  become: true
  delegate_to: k8s-ctrl
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: forgejo

- name: Create Forgejo Admin Secret
  become: true
  delegate_to: k8s-ctrl
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: forgejo-admin-secret
        namespace: forgejo
      type: Opaque
      stringData:
        username: "{{ forgejo.admin_username }}"
        password: "{{ forgejo.admin_password }}"

- name: Deploy Forgejo via OCI Helm chart
  become: true
  delegate_to: k8s-ctrl
  community.kubernetes.helm:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    name: forgejo
    chart_ref: oci://code.forgejo.org/forgejo-helm/forgejo
    release_namespace: forgejo
    create_namespace: false
    wait: yes
    timeout: 600s
    values:
      # Image Configuration
      image:
        rootless: true
      
      # Admin User Configuration
      gitea:
        admin:
          existingSecret: forgejo-admin-secret
          email: "{{ forgejo.admin_email }}"
          passwordMode: keepUpdated
        
        # Database Configuration (External Postgres)
        config:
          database:
            DB_TYPE: postgres
            HOST: "{{ forgejo.db_host }}"
            NAME: "{{ forgejo.db_name }}"
            USER: "{{ forgejo.db_user }}"
            PASSWD: "{{ forgejo.db_password }}"
          # Enable Prometheus Metrics
          metrics:
            ENABLED: true
          server:
            HTTP_PORT: 3000
            PROTOCOL: http
            DOMAIN: "192.168.56.10"
            ROOT_URL: "http://192.168.56.10:{{ forgejo.port }}"

      # Persistence (Save data to disk)
      persistence:
        enabled: true
        storageClass: local-path
        size: 10Gi

      # Node Placement (Pin to app-worker)
      nodeSelector:
        workload: app
      tolerations:
        - key: "workload"
          operator: "Equal"
          value: "app"
          effect: "NoSchedule"

      # Networking
      service:
        http:
          type: LoadBalancer
          port: "{{ forgejo.port | int }}"

      # Health Probes (Adjusted for stability)
      gitea:
        startupProbe:
          enabled: true
          tcpSocket:
            port: 3000
          initialDelaySeconds: 60
          failureThreshold: 20
        livenessProbe:
          initialDelaySeconds: 200
          tcpSocket:
            port: 3000