---
- name: Create forgejo namespace
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: forgejo
  become: true
  delegate_to: k8s-ctrl

- name: Deploy Forgejo via OCI Registry
  become: true
  delegate_to: k8s-ctrl
  community.kubernetes.helm:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    name: forgejo
    chart_ref: oci://codeberg.org/forgejo-helm/forgejo
    release_namespace: forgejo
    create_namespace: false
    wait: yes
    timeout: 600s
    values:
      nodeSelector:
        workload: app
      tolerations:
        - key: "workload"
          operator: "Equal"
          value: "app"
          effect: "NoSchedule"
      gitea:
        database:
          type: postgres
          host: "app-db-cluster-rw.db.svc.cluster.local"
          user: "{{ forgejo.db_user }}"
          password: "{{ forgejo.db_password }}"
          name: "{{ forgejo.db_name }}"
      service:
        http:
          type: LoadBalancer
          port: "{{ forgejo.port | int }}"