apiVersion: apps/v1
kind: Deployment
metadata:
  name: opensearch-exporter
  namespace: opensearch
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: opensearch-exporter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: opensearch-exporter
    spec:
      nodeSelector:
        workload: "{{ cluster_topology.node_pools[opensearch.pool].workload_label }}"
      tolerations:
        - key: "workload"
          operator: "Equal"
          value: "{{ cluster_topology.node_pools[opensearch.pool].workload_label }}"
          effect: "{{ cluster_topology.node_pools[opensearch.pool].taints[0].effect }}"
      containers:
        - name: exporter
          image: "{{ opensearch.exporter_image }}"
          args:
            - --es.uri=https://opensearch-cluster-master.opensearch.svc.cluster.local:9200
            - --es.all
            - --es.indices
            - --collector.clustersettings
            - --es.ssl-skip-verify
          envFrom:
            - secretRef:
                name: opensearch-exporter-secret
          ports:
            - name: metrics
              containerPort: 9114
          readinessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 30
            periodSeconds: 20
          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
