apiVersion: v1
kind: Service
metadata:
  name: forgejo-metrics
  namespace: forgejo
  labels:
    app.kubernetes.io/name: forgejo-metrics
    app.kubernetes.io/component: metrics
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: forgejo
  ports:
    - name: metrics
      port: {{ forgejo.port | int }}
      targetPort: {{ forgejo.port | int }}
