apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: forgejo-metrics
  namespace: forgejo
  labels:
    release: prometheus
spec:
  namespaceSelector:
    matchNames:
      - forgejo
  selector:
    matchLabels:
      app.kubernetes.io/name: forgejo-metrics
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
