apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-custom-dashboards
  namespace: monitoring
data:
  error-frequency.json: |
{{ lookup('template', 'dashboard-error-frequency.json.j2') | indent(4, true) }}
  error-distribution.json: |
{{ lookup('template', 'dashboard-error-distribution.json.j2') | indent(4, true) }}
